Sunnysideup\BasicAuthBetter\AddOrRemoveBasicAuth:
    # must set!
    canonical_url: 'mysite.co.nz'
    htpasswd_path: '/container/application'

    # nice to set, but can also use .env file - which is better but more work...
    default_user_name: 'authorisedusers' # better to set this in .env file!
    default_password: 'only' # better to set this in .env file!

    # optional
    excluded_from_basic_auth_hosts:
        - mysite.co.nz

    # only change if you really have to!
    htaccess_files:
        - 'public/.htaccess'
        - 'public/assets/.htaccess'
    htaccess_lines:
        - 'foo'

